*{
    box-sizing: border-box;
    font-family: 'Gudea';
    color: black;
}
header{
    background-color: #16697A;
    height: 20vw;
    max-height: 220px;
    min-height: 100px;
}
footer{
    background-color: #16697A;
    height: 60;
    margin-top: auto;
}
section{
    margin-top: auto;
}
#logo{
    height: 20vw;
    max-height: 200px;
    min-height: 100px;
}
h1{
    font-family: 'Dosis';
    color: #EDE7E3;
    text-transform: uppercase;
}

#newTask, #filter {
    cursor: pointer;
}
.date{
    width:120px;
}
.state{
    width: 90px;
}
.state-1, .delete, .alert-error{
    background-color: #FD7C7C;
}
.state-2, .modify{
    background-color: #FDCF91;
}
.state-3, .alert-success{
    background-color: #B0C9AF;
}
.priority-3{
    background-color: red;
}
.priority-2{
    background-color: #FFA500;
}
.priority-1{
    background-color: green;
}
.bg-isabelline{
    background-color: #EDE7E3;
}

.btn-ming{
    background-color: #16697A;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.btn-border-ming{
    background-color: white;
    color: #16697A;
    border: #16697A solid 1px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.alert{
    color: white;
    font-weight: 600;
}
/* .alert-success{ */
    /* background-color: green; */
/* } */
/* .alert-error{ */
    /* background-color: red; */
/* } */
